.btn {
  border-radius: 30px;
  padding: 10px 40px;
  font-weight: 500;

  &-primary {
    &:hover {
      background-color: #3ca1af;
      border-color: #3ca1af;
    }
  }

  &-tertiary {
    background-color: #fff;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}
