.component-steps {
  .steps-grid {
    margin: 0 -1rem;
    justify-content: center;

    >.col-12 {
      padding: 0 1rem;
      margin-bottom: 3rem;

      @include breakpoint(767) {
        margin-bottom: 5rem;
      }
    }
  }

  .steps-card {
    height: 100%;
    background: #fff;
    border: 1px solid #339cc8;
    border-radius: 18px;
    padding: 2rem 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    // border: 1px solid;
    // border-image-source: linear-gradient(127.27deg, #d5cfc6 2.63%, #f8f4ee 38.21%, #e9e3d9 66.39%, #a69f94 98.73%);

    @include min-breakpoint(768) {
      padding: 2.5rem 6px 6px;
    }

    .steps-card-content {
      padding: 0 1.5rem;

      @include breakpoint(767) {
        padding: 0 2rem;
      }
    }

    .steps-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 30px;
      margin-top: -70px;
    }

    .steps-number {
      width: 90px;
      height: 90px;
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary;
      color: #fff;
      font-weight: 300;
      font-size: 50px;
      line-height: 1;
      box-shadow: 0 12px 30px rgb(0 0 0 / 8%);
      font-family: $font-title;
    }

    .steps-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: auto;

      img {
        width: 100%;
      }
    }

    .steps-title {
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 14px;
      color: $primary;
      font-family: $font-body;
    }

    .steps-description {
      margin: 0;
      color: $primary;
      line-height: 1.6;
      font-size: 14px;
    }
  }

  .steps-button-wrapper {
    text-align: right;

    @include breakpoint(767) {
      text-align: center;
      margin-top: -2rem;
    }
  }
}
