.navbar-brand {
  height: 80px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.navbar-light {
  background: #fff;

  .navbar-nav {
    .nav-item {
      text-transform: uppercase;

      &.active {
        .nav-link {
          font-weight: bold;
        }
      }
    }

    .nav-link {
      color: $primary;

      &:hover {
        color: #003952;
      }
    }
  }
}
